.about {
  padding: 1rem;
}

.about__main-title {
  border-bottom: 3px solid red;
}

.about-item {
  max-width: 12rem;
  padding: 0.65rem 2rem;
}

.about-item__title {
  padding: 0.45rem;
  color: #444;
  background-color: white;
}

.about-item__text {
  padding-left: 0.5rem;
}
